@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gradient-1: linear-gradient(
    to right bottom,
    #1cd9c5 10%,
    #1daeeb 20%,
    #d44be8,
    #981ed8
  );

  --color-1: #cdcdcd;
  --color-2: #4885ed;

  --transition-1: all 0.15s ease;
  --box-shadow-1: 0 0 3px #999;
  --border-radius-1: 5px;
  --border-1: 1px solid #cdcdcd;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
}

/* ----- FORM (START) ----- */

.home_link {
  text-decoration: none;
  position: absolute;
  top: -31px;
  left: 144px;
  z-index: 1;
  background: var(--color-2);
  color: #fff;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  cursor: pointer;
  border: 10px solid #fff;
}

.home_icon {
  position: absolute;
  font-size: 1.5rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home_link:hover {
  transform: scale(1.1);
  transition: var(--transition-1);
}

.form_div {
  transform: translateX(-100vw);
  transition: var(--transition-1);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  width: 350px;
  position: relative;
  background: #fff;
  border-radius: var(--border-radius-1);
  box-shadow: var(--box-shadow-1);
}

.tag {
  margin: 0 0 1rem 0;
  font-weight: 700;
  font-size: 1rem;
  color: #555;
  text-align: center;
  text-transform: uppercase;
}

.input_div {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.eye {
  position: absolute;
  right: 0.5rem;
  bottom: 27.5px;
  cursor: pointer;
  color: #555;
  font-size: 1.1rem;
}

.label {
  color: #555;
  margin-bottom: 0.5rem;
}

.input {
  margin-bottom: 1rem;
  height: 42px;
  padding: 0 0.5rem;
  border: none;
  width: 100%;
  outline: var(--border-1);
  box-sizing: border-box;
  color: #555;
  border-radius: var(--border-radius-1);
}

.input:focus {
  box-shadow: none;
  outline: 2px solid var(--color-2) !important;
}

.submit_btn {
  background: var(--color-2);
  color: #fff;
  border: none;
  width: 100%;
  height: 42px;
  outline: 1px solid var(--color-2);
  letter-spacing: 1px;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius-1);
}

.submit_btn:hover {
  cursor: pointer;
  filter: brightness(80%);
}

.ask {
  margin-top: 1rem;
  color: #555;
  text-align: center;
}

.link {
  text-decoration: none;
  color: var(--color-2);
  font-weight: 500;
  cursor: pointer;
}

.line {
  border-bottom: 1px solid var(--color-1);
  margin: 2rem 0;
  position: relative;
  width: 300px;
}

.or {
  position: absolute;
  background: #fff;
  top: -0.75rem;
  left: 42.5%;
  padding: 0 0.5rem;
  color: #555;
}

.google_div,
.github_div {
  height: 42px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  cursor: pointer;
  border-radius: var(--border-radius-1);
}

.google_div {
  background: #4285f4;
  outline: 1px solid #4285f4;
  margin-bottom: 1rem;
}

.github_div {
  background: #000;
  outline: 1px solid #000;
}

.google_icon_div,
.github_icon_div {
  background: #fff;
  display: inline-block;
  height: 37px;
  width: 37px;
  border-radius: var(--border-radius-1);
  position: absolute;
  left: 0.15rem;
}

/* .github_icon_div {
  height: 37px;
} */

.google_icon,
.github_icon {
  font-size: 1.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: var(--border-radius-1);
}

.github_icon {
  color: #000;
}

.google_div:hover {
  filter: brightness(90%);
}

.github_div:hover {
  background: #222;
  outline: 1px solid #222;
}

/* ----- FORM (END) ----- */
