.error_div {
  position: absolute;
  top: 0;
  left: 0;
  width: 350px;
  height: 100%;
  background: aqua;
  border-radius: var(--border-radius-1);
  background: rgb(255, 255, 255, 0.75);

  display: flex;
  align-items: center;
  justify-content: center;
}

.error_msg {
  background: #fff;
  color: #555;
  padding: 2rem;

  font-weight: 500;
  font-size: 1rem;
  width: 318px;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  box-shadow: 0px -15px 10px -15px #111;
  box-shadow: 0 0 3px #999;
  border-radius: var(--border-radius-1);
  margin: 0 1rem;
}

.close_timer {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.timer,
.close {
  height: 42px;
  width: 120px;
  border-radius: var(--border-radius-1);
  /* font-size: 0.8rem; */
  font-weight: 400;
  font-size: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.timer {
  outline: 1px solid var(--color-2);
  color: var(--color-2);
}

.close {
  background: red;
  color: #fff;
  border-radius: var(--border-radius-1);
  cursor: pointer;
  outline: 1px solid red;
}

.close:hover {
  filter: brightness(90%);
}
